<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>LiteCloud - Файлы</title>
</head>
<body>
<section>
    <table width="100%">
        <tr th:each="file : ${files}">
            <td th:text="${file.text}" width="50%"></td>
            <td th:text="${file.info}" width="20%"></td>
            <td width="30%">
                <a th:href="@{'/files/' + (${file.shared} ? 'shared' : 'download') + '?id=' + ${file.id}}">Download</a> |
                <a th:href="@{'/files/delete?id=' + ${file.id}}">Delete</a> |
                <a th:href="@{'/files/update?shared=' + (${file.shared} ? 'false' : 'true') + '&id=' + ${file.id}}">
                    <span th:text="${file.shared} ? 'Unshare' : 'Share'">share</span>
                </a>
            </td>
        </tr>
    </table>
    <hr>
    <form method="POST" enctype="multipart/form-data" th:action="@{/files/upload}">
        <label>Название:
            <input type="text" name="text">
        </label>
        <input type="file" name="file">
        <button type="submit">Добавить</button>
    </form>
    <hr>
</section>
</body>
</html>