<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>LiteCloud - Страницы</title>
    <style>
        body {
            color: #0F3560;
            background-color: #F3F5F7;
            font-size: medium;
        }
        .background-light {
            background-color: #E3E5E7;
        }
        .background-dark {
            background-color: #D3D5D7;
        }
    </style>
</head>
<body>

    <hr>
    <table>
        <tr th:each="section, iterStat : ${sections}">
            <td th:utext="'<b>' + ${section} + '</b>'"></td>
            <td> | </td>
            <td>
                <th:block th:each="page : ${pages}" th:if="${page.section} == ${section}">
                    <a th:href="${page.link}" th:text="${page.text}" target="_blank"></a>
                    <a th:href="@{'/pages/delete?id=' + ${page.id}}">[x]</a> &nbsp; &nbsp;
                </th:block>
            </td>
        </tr>
    </table>
    <hr>
    <form method="POST" action="/pages/create">
        <label>Раздел:
            <input type="text" name="section">
        </label>
        <label>Текст:
            <input type="text" name="text">
        </label>
        <label>Ссылка:
            <input type="text" name="link">
        </label>
        <button type="submit">Добавить</button>
    </form>
    <hr>
</body>
</html>