<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>LiteCloud - Страницы</title>
</head>
<body>
    <section>
    <table>
        <tr th:each="section, iterStat : ${sections}">
            <th:block th:if="${shows} == 'yes'">
            <td th:utext="'<b>' + ${section} + '</b>'"></td>
            <td> | </td>
            </th:block>
            <td>
                <th:block th:each="page : ${pages}" th:if="${page.section} == ${section}">
                    <a th:href="@{${page.link}}" th:text="${page.text}" target="_blank"></a>
                    <a th:href="@{'/pages/delete?id=' + ${page.id}}">[x]</a> &nbsp; &nbsp;
                </th:block>
            </td>
        </tr>
    </table>
    <hr>
    <form method="POST" th:action="@{/pages/create}">
        <label>Раздел:
            <input type="text" name="section">
        </label>
        <label>Текст:
            <input type="text" name="text">
        </label>
        <label>Ссылка:
            <input type="text" name="link">
        </label>

        <button type="submit">Добавить</button>
    </form>
    <hr>
    </section>
</body>
</html>